[flake8]
max-line-length = 120
application-import-names = dmoj
import-order-style = pycharm
ignore =
    W504 # line break occurred after a binary operator
per-file-ignores =
    # F403: import *, F405: name comes from import *
    ./dmoj/cptbox/chroot.py:F403,F405
    ./dmoj/cptbox/sandbox.py:F403,F405
    # F821: undefined name, flake8 incorrectly thinks name is deleted
    ./dmoj/cptbox/syscalls.py:F821
    # F401: unused imports, ignore in all __init__.py
    ./*/__init__.py:F401
    # E101: mix tab and spaces, ignore in files that use tabs in ''' strings
    ./dmoj/executors/CBL.py:E101
    ./dmoj/executors/GAS32.py:E101
    ./dmoj/executors/GAS64.py:E101
exclude =
    ./testsuite # The standard location for the test suite repository
