sudo: required
dist: trusty
language: python
python:
  - 2.7
addons:
  apt:
    sources:
    - mono
    - ubuntu-toolchain-r-test
    - sourceline: 'ppa:swi-prolog/stable'
    - sourceline: 'deb http://cran.rstudio.com/bin/linux/ubuntu trusty/'
      key_url: 'http://keyserver.ubuntu.com/pks/lookup?op=get&fingerprint=on&search=0x51716619E084DAB9'
    - sourceline: 'deb [arch=amd64] https://storage.googleapis.com/download.dartlang.org/linux/debian stable main'
      key_url: 'https://dl-ssl.google.com/linux/linux_signing_key.pub'
    packages:
    - php5-cli
before_install:
  - >
    sudo -E apt-get -yq --no-install-suggests --no-install-recommends --no-upgrade --force-yes -t trusty-updates install
    g++-6 gcc-6 mono-devel mono-vbnc fsharp fp-compiler coffeescript binutils-multiarch libc6-dev-i386
    nasm open-cobol lua5.2 gfortran chicken-bin tcl swi-prolog g++-6 gcc-6 r-base dart/stable
  # Install Swift
  - wget -q -O - https://swift.org/keys/all-keys.asc | gpg --import -
  - wget https://swift.org/builds/swift-2.2.1-release/ubuntu1404/swift-2.2.1-RELEASE/swift-2.2.1-RELEASE-ubuntu14.04.tar.gz
  - tar xzf swift-2.2.1-RELEASE-ubuntu14.04.tar.gz
  - export PATH=${PWD}/swift-2.2.1-RELEASE-ubuntu14.04/usr/bin:"${PATH}"
  # Install Rust
  - curl -sSf https://static.rust-lang.org/rustup.sh | sh
  # Install latest Scala
  - wget http://downloads.lightbend.com/scala/2.11.8/scala-2.11.8.deb
  - sudo dpkg -i scala-2.11.8.deb
  # Install D
  - wget http://downloads.dlang.org/releases/2.x/2.071.1/dmd_2.071.1-0_amd64.deb
  - sudo dpkg -i dmd_2.071.1-0_amd64.deb
  # Install sdkman for Groovy and Kotlin
  - curl -s get.sdkman.io | bash
  - source "$HOME/.sdkman/bin/sdkman-init.sh"
  # Install Groovy
  - yes | sdk install groovy
  - export PATH=$HOME/.sdkman/candidates/groovy/current/bin:"${PATH}"
install:
  - pip install codecov
  - pip install Cython --install-option="--no-cython-compile"
  - python setup.py develop
  - mkdir testsuite && curl https://codeload.github.com/DMOJ/judge-testsuite/legacy.tar.gz/master | tar xz -C testsuite --strip-components=1
script:
  - coverage run --source=dmoj .travis.test.py
after_script:
  - codecov
notifications:
  - slack: dmoj:kfSyzQoO51WwR2MFvfRAhUxD
