sudo: required
dist: trusty
language: python
python:
  - 2.7
  - 3.4
addons:
  apt:
    sources:
    - mono
    - sourceline: 'ppa:swi-prolog/stable'
    - sourceline: 'deb http://cran.rstudio.com/bin/linux/ubuntu trusty/'
      key_url: 'http://keyserver.ubuntu.com/pks/lookup?op=get&fingerprint=on&search=0x51716619E084DAB9'
    - sourceline: 'deb [arch=amd64] https://storage.googleapis.com/download.dartlang.org/linux/debian stable main'
      key_url: 'https://dl-ssl.google.com/linux/linux_signing_key.pub'
    packages:
    - ghc
    - gnat
    - php5-cli
    - mono-devel
    - mono-vbnc
    - fp-compiler
    - coffeescript
    - binutils-multiarch
    - libc6-dev-i386
    - nasm
    - open-cobol
    - lua5.2
    - gfortran
    - chicken-bin
    - tcl
    - swi-prolog
    - r-base
    - dart/stable
cache:
  directories:
    - $HOME/.cargo
    - $HOME/.cache/pip
before_cache:
  - rm -f $HOME/.cache/pip/log/debug.log
before_install:
  # Install Swift
  - wget -q -O - https://swift.org/keys/all-keys.asc | gpg --import -
  - >
    mkdir swift &&
    curl https://swift.org/builds/swift-2.2.1-release/ubuntu1404/swift-2.2.1-RELEASE/swift-2.2.1-RELEASE-ubuntu14.04.tar.gz |
    tar xz -C swift --strip-components=1
  - export PATH=${PWD}/swift/usr/bin:"${PATH}"
  # Install Rust
  - curl -sSf https://static.rust-lang.org/rustup.sh | sudo sh
  # Install latest Scala
  - wget http://downloads.lightbend.com/scala/2.11.8/scala-2.11.8.deb
  - sudo dpkg -i scala-2.11.8.deb
  # Install D
  - wget http://downloads.dlang.org/releases/2.x/2.071.1/dmd_2.071.1-0_amd64.deb
  - sudo dpkg -i dmd_2.071.1-0_amd64.deb
  # Install sdkman for Groovy and Kotlin
  - curl -s get.sdkman.io | bash
  - source "$HOME/.sdkman/bin/sdkman-init.sh"
  # Install Groovy
  - yes | sdk install groovy
  - export PATH=$HOME/.sdkman/candidates/groovy/current/bin:"${PATH}"
install:
  - pip install codecov
  - pip install Cython --install-option="--no-cython-compile"
  - python setup.py develop
  - >
    mkdir testsuite &&
    curl https://codeload.github.com/DMOJ/judge-testsuite/legacy.tar.gz/master |
    tar xz -C testsuite --strip-components=1
script:
  - coverage run --source=dmoj .travis.test.py
after_script:
  - codecov
notifications:
  slack:
    secure: "cJMFsXwvAZxSR/p8WFYUAtJmPxnq+MZKhXQgaHZp7D0tveh6v0/O/GDfO+3B3Ep7/SBNiAj/wfH/ivDVjiSWVN/2DYSiHtzMZ9Jkq2CQzMzX5u3l7J04bO617K8+eRGOFQcYj+GPRntF4GebSgfMuhXwba2N/KjAA9QMKOTlJpU="
matrix:
  allow_failures:
  - python: 3.4
