sudo: required
dist: xenial
language: python
python:
  - 3.5
  - 3.6
  - 3.7
env:
  matrix:
  - DMOJ_USE_SECCOMP="yes"
  - DMOJ_USE_SECCOMP="no"
addons:
  apt:
    sources:
    - mono
    - sourceline: 'ppa:swi-prolog/stable'
      key_url: 'http://keyserver.ubuntu.com/pks/lookup?op=get&fingerprint=on&search=0x51716619E084DAB9'
    - sourceline: 'deb [arch=amd64] https://storage.googleapis.com/download.dartlang.org/linux/debian stable main'
      key_url: 'https://dl-ssl.google.com/linux/linux_signing_key.pub'
    packages:
    - ghc
    - gnat
    - php7.0-cli
    - mono-devel
    - mono-vbnc
    - fp-compiler
    - coffeescript
    - binutils-multiarch
    - libc6-dev-i386
    - libseccomp-dev
    - nasm
    - open-cobol
    - ocaml
    - lua5.2
    - gfortran
    - tcl
    - swi-prolog
    - dart/stable
    - scala
    - racket
cache:
  directories:
    - $HOME/.cargo
    - $HOME/.cache/pip
before_cache:
  - rm -f $HOME/.cache/pip/log/debug.log
before_install:
  # Install Swift
  - >
    mkdir swift &&
    curl https://swift.org/builds/swift-4.2.1-release/ubuntu1604/swift-4.2.1-RELEASE/swift-4.2.1-RELEASE-ubuntu16.04.tar.gz |
    tar xz -C swift --strip-components=1
  - export PATH=${PWD}/swift/usr/bin:"${PATH}"
  # Install PyPy
  - >
    mkdir pypy2 &&
    curl -L https://bitbucket.org/squeaky/portable-pypy/downloads/pypy-5.8-1-linux_x86_64-portable.tar.bz2 |
    tar xj -C pypy2 --strip-components=1 &&
    ./pypy2/bin/pypy -mcompileall
  - >
    mkdir pypy3 &&
    curl -L https://bitbucket.org/squeaky/portable-pypy/downloads/pypy3.5-5.8-1-beta-linux_x86_64-portable.tar.bz2 |
    tar xj -C pypy3 --strip-components=1 &&
    ./pypy3/bin/pypy -mcompileall
  # Install Rust
  - curl https://sh.rustup.rs -sSf | sh -s -- -y
  # Add `cargo` to PATH
  - export PATH=${HOME}/.cargo/bin:"${PATH}"
  # Install latest Scala
  - wget http://downloads.lightbend.com/scala/2.12.4/scala-2.12.4.deb
  - sudo dpkg -i scala-2.12.4.deb
  # Install D
  - wget http://downloads.dlang.org/releases/2.x/2.071.1/dmd_2.071.1-0_amd64.deb
  - sudo dpkg -i dmd_2.071.1-0_amd64.deb
  # Install Kotlin
  # - >
  #  wget -O kotlinc.zip https://github.com/JetBrains/kotlin/releases/download/v1.1.60/kotlin-compiler-1.1.60.zip &&
  #  unzip kotlinc.zip &&
  #  export PATH=${PWD}/kotlinc/bin:"${PATH}"
  # Install Groovy
  - >
    wget -O groovy.zip https://bintray.com/artifact/download/groovy/maven/apache-groovy-binary-2.4.12.zip &&
    unzip groovy.zip &&
    export PATH=${PWD}/groovy-2.4.12/bin:"${PATH}"
install:
  - pip install codecov
  - pip install Cython --install-option="--no-cython-compile"
  - pip install -e '.[test]'
  - >
    git clone --depth 25 \
              --single-branch \
              --branch ${DMOJ_JUDGE_TESTSUITE_BRANCH:-master} \
              https://github.com/${DMOJ_JUDGE_TESTSUITE_SLUG:-DMOJ/judge-testsuite} testsuite &&
    git -C testsuite reset --hard ${DMOJ_JUDGE_TESTSUITE_COMMIT_SHA:-HEAD}
script:
  - coverage run --source=dmoj -m unittest discover dmoj/tests/
  - coverage run --append --source=dmoj .travis.test.py
after_script:
  - codecov
notifications:
  slack:
    secure: "cJMFsXwvAZxSR/p8WFYUAtJmPxnq+MZKhXQgaHZp7D0tveh6v0/O/GDfO+3B3Ep7/SBNiAj/wfH/ivDVjiSWVN/2DYSiHtzMZ9Jkq2CQzMzX5u3l7J04bO617K8+eRGOFQcYj+GPRntF4GebSgfMuhXwba2N/KjAA9QMKOTlJpU="
