include MANIFEST.in
include dmoj/cptbox/*.cpp
include dmoj/cptbox/*.h
include dmoj/cptbox/syscalls/aliases.list
include dmoj/cptbox/syscalls/*.tbl
include dmoj/executors/*.policy
include dmoj/executors/java_sandbox.jar

exclude dmoj/cptbox/_cptbox.pyx
