include MANIFEST.in
include dmoj/cptbox/_cptbox.pyx
include dmoj/cptbox/*.cpp
include dmoj/cptbox/*.h
include dmoj/cptbox/syscalls/aliases.list
include dmoj/cptbox/syscalls/*.tbl
include dmoj/executors/*.policy
include dmoj/executors/csbox.exe
include dmoj/executors/java-sandbox.jar
include dmoj/wbox/dmsec32.dll
include dmoj/wbox/dmsec64.dll
include dmoj/wbox/getaddr32.exe
include dmoj/wbox/getaddr64.exe
include dmoj/wbox/_wbox.pyx
include dmoj/wbox/*.cpp
include dmoj/wbox/*.h

exclude dmoj/cptbox/_cptbox.cpp
exclude dmoj/cptbox/_wbox.cpp
