grant {
    // Read/write to system streams
    permission java.lang.RuntimePermission "readFileDescriptor";
    permission java.lang.RuntimePermission "writeFileDescriptor";

    // Groovy needs a lot of reflection-related permissions
    permission java.lang.reflect.ReflectPermission "suppressAccessChecks";
    permission java.lang.RuntimePermission "createClassLoader";
    permission java.lang.RuntimePermission "setContextClassLoader";
    permission java.lang.RuntimePermission "accessDeclaredMembers";
    permission java.lang.RuntimePermission "getProtectionDomain";
    permission java.lang.RuntimePermission "accessClassInPackage.sun.reflect";
    permission java.lang.RuntimePermission "accessClassInPackage.jdk.internal.reflect";
    permission java.lang.RuntimePermission "accessClassInPackage.jdk.internal";
    permission java.lang.RuntimePermission "exitVM.*";

    // A lot of files, too
    permission java.io.FilePermission ".", "read";
    permission java.io.FilePermission "${groovy.starter.conf}", "read";
    permission java.io.FilePermission "${groovy.home}/-", "read";
    permission java.io.FilePermission "${user.home}/.groovy/lib", "read";
    permission java.io.FilePermission "${tools.jar}", "read";

    // Submission file isn't allowed by default as it is when it's run through Java
    permission java.io.FilePermission "${submission.file}", "read";

    // Various alternates that Groovy may attempt to read
    permission java.io.FilePermission "${submission.file}.groovy", "read";
    permission java.io.FilePermission "${submission.file}.gvy", "read";
    permission java.io.FilePermission "${submission.file}.gy", "read";
    permission java.io.FilePermission "${submission.file}.gsh", "read";

    permission java.util.logging.LoggingPermission "control";

    // Groovy explicitly asks for R/W *
    permission java.util.PropertyPermission "*", "read,write";

    // Everything below is used for regular Java submissions, and is not Groovy-specific

    // Basic Threads
    permission java.lang.RuntimePermission "stopThread";
    permission java.lang.RuntimePermission "modifyThread";

    // Locale.setDefault
    permission java.util.PropertyPermission "user.language", "write";

    // Date timezone
    permission java.util.PropertyPermission "user.timezone", "write";

    // Standard properties
    permission java.util.PropertyPermission "java.version", "read";
    permission java.util.PropertyPermission "java.vendor", "read";
    permission java.util.PropertyPermission "java.vendor.url", "read";
    permission java.util.PropertyPermission "java.class.version", "read";
    permission java.util.PropertyPermission "os.name", "read";
    permission java.util.PropertyPermission "os.version", "read";
    permission java.util.PropertyPermission "os.arch", "read";
    permission java.util.PropertyPermission "line.separator", "read";

    permission java.util.PropertyPermission "java.specification.version", "read";
    permission java.util.PropertyPermission "java.specification.vendor", "read";
    permission java.util.PropertyPermission "java.specification.name", "read";

    permission java.util.PropertyPermission "java.vm.specification.version", "read";
    permission java.util.PropertyPermission "java.vm.specification.vendor", "read";
    permission java.util.PropertyPermission "java.vm.specification.name", "read";
    permission java.util.PropertyPermission "java.vm.version", "read";
    permission java.util.PropertyPermission "java.vm.vendor", "read";
    permission java.util.PropertyPermission "java.vm.name", "read";
};
