grant {
    // Read/write to system streams
    permission java.lang.RuntimePermission "readFileDescriptor";
    permission java.lang.RuntimePermission "writeFileDescriptor";

    // Groovy needs a lot of reflection-related permissions
    permission java.lang.reflect.ReflectPermission "suppressAccessChecks";
    permission java.lang.RuntimePermission "createClassLoader";
    permission java.lang.RuntimePermission "setContextClassLoader";
    permission java.lang.RuntimePermission "accessDeclaredMembers";
    permission java.lang.RuntimePermission "getProtectionDomain";
    permission java.lang.RuntimePermission "accessClassInPackage.sun.reflect";
    permission java.lang.RuntimePermission "accessClassInPackage.jdk.internal.reflect";
    permission java.lang.RuntimePermission "accessClassInPackage.jdk.internal";
    permission java.lang.RuntimePermission "exitVM.*";

    // A lot of files, too
    permission java.io.FilePermission ".", "read";
    permission java.io.FilePermission "${groovy.starter.conf}", "read";
    permission java.io.FilePermission "${groovy.home}/lib", "read";
    permission java.io.FilePermission "${groovy.home}/lib/*", "read";
    permission java.io.FilePermission "${groovy.home}/lib/ant-antlr.jar", "read";
    permission java.io.FilePermission "${groovy.home}/lib/ant.jar", "read";
    permission java.io.FilePermission "${groovy.home}/lib/ant-junit.jar", "read";
    permission java.io.FilePermission "${groovy.home}/lib/ant-launcher.jar", "read";
    permission java.io.FilePermission "${groovy.home}/lib/antlr.jar", "read";
    permission java.io.FilePermission "${groovy.home}/lib/asm3-analysis.jar", "read";
    permission java.io.FilePermission "${groovy.home}/lib/asm3.jar", "read";
    permission java.io.FilePermission "${groovy.home}/lib/asm3-tree.jar", "read";
    permission java.io.FilePermission "${groovy.home}/lib/asm3-util.jar", "read";
    permission java.io.FilePermission "${groovy.home}/lib/asm-analysis.jar", "read";
    permission java.io.FilePermission "${groovy.home}/lib/asm-commons.jar", "read";
    permission java.io.FilePermission "${groovy.home}/lib/asm.jar", "read";
    permission java.io.FilePermission "${groovy.home}/lib/asm-tree.jar", "read";
    permission java.io.FilePermission "${groovy.home}/lib/asm-util.jar", "read";
    permission java.io.FilePermission "${groovy.home}/lib/bsf.jar", "read";
    permission java.io.FilePermission "${groovy.home}/lib/commons-cli.jar", "read";
    permission java.io.FilePermission "${groovy.home}/lib/commons-logging.jar", "read";
    permission java.io.FilePermission "${groovy.home}/lib/gpars.jar", "read";
    permission java.io.FilePermission "${groovy.home}/lib/groovy-2.4.8.jar", "read";
    permission java.io.FilePermission "${groovy.home}/lib/groovy-ant.jar", "read";
    permission java.io.FilePermission "${groovy.home}/lib/groovy-bsf.jar", "read";
    permission java.io.FilePermission "${groovy.home}/lib/groovy-console.jar", "read";
    permission java.io.FilePermission "${groovy.home}/lib/groovy-docgenerator.jar", "read";
    permission java.io.FilePermission "${groovy.home}/lib/groovy-groovydoc.jar", "read";
    permission java.io.FilePermission "${groovy.home}/lib/groovy-groovysh.jar", "read";
    permission java.io.FilePermission "${groovy.home}/lib/groovy-jmx.jar", "read";
    permission java.io.FilePermission "${groovy.home}/lib/groovy-json.jar", "read";
    permission java.io.FilePermission "${groovy.home}/lib/groovy-jsr223.jar", "read";
    permission java.io.FilePermission "${groovy.home}/lib/groovy-servlet.jar", "read";
    permission java.io.FilePermission "${groovy.home}/lib/groovy-sql.jar", "read";
    permission java.io.FilePermission "${groovy.home}/lib/groovy-swing.jar", "read";
    permission java.io.FilePermission "${groovy.home}/lib/groovy-templates.jar", "read";
    permission java.io.FilePermission "${groovy.home}/lib/groovy-test.jar", "read";
    permission java.io.FilePermission "${groovy.home}/lib/groovy-testng.jar", "read";
    permission java.io.FilePermission "${groovy.home}/lib/groovy-xml.jar", "read";
    permission java.io.FilePermission "${groovy.home}/lib/hamcrest-core.jar", "read";
    permission java.io.FilePermission "${groovy.home}/lib/ivy.jar", "read";
    permission java.io.FilePermission "${groovy.home}/lib/jansi.jar", "read";
    permission java.io.FilePermission "${groovy.home}/lib/jcommander.jar", "read";
    permission java.io.FilePermission "${groovy.home}/lib/jline2.jar", "read";
    permission java.io.FilePermission "${groovy.home}/lib/jline.jar", "read";
    permission java.io.FilePermission "${groovy.home}/lib/jsp-api-2.3.jar", "read";
    permission java.io.FilePermission "${groovy.home}/lib/jsp-api.jar", "read";
    permission java.io.FilePermission "${groovy.home}/lib/jsr166y.jar", "read";
    permission java.io.FilePermission "${groovy.home}/lib/junit4.jar", "read";
    permission java.io.FilePermission "${groovy.home}/lib/mockobjects-core.jar", "read";
    permission java.io.FilePermission "${groovy.home}/lib/qdox.jar", "read";
    permission java.io.FilePermission "${groovy.home}/lib/regexp.jar", "read";
    permission java.io.FilePermission "${groovy.home}/lib/servlet-api-3.1.jar", "read";
    permission java.io.FilePermission "${groovy.home}/lib/servlet-api.jar", "read";
    permission java.io.FilePermission "${groovy.home}/lib/testng.jar", "read";
    permission java.io.FilePermission "${groovy.home}/lib/xstream.jar", "read";
    permission java.io.FilePermission "${groovy.home}/lib/extras-jaxb/jaxb-impl-2.3.0.1.jar", "read";
    permission java.io.FilePermission "${user.home}/.groovy/lib", "read";
    permission java.io.FilePermission "${tools.jar}", "read";

    // Submission file isn't allowed by default as it is when it's run through Java
    permission java.io.FilePermission "${submission.file}", "read";

    // Various alternates that Groovy may attempt to read
    permission java.io.FilePermission "${submission.file}.groovy", "read";
    permission java.io.FilePermission "${submission.file}.gvy", "read";
    permission java.io.FilePermission "${submission.file}.gy", "read";
    permission java.io.FilePermission "${submission.file}.gsh", "read";

    permission java.util.logging.LoggingPermission "control";

    // Groovy explicitly asks for R/W *
    permission java.util.PropertyPermission "*", "read,write";

    // Everything below is used for regular Java submissions, and is not Groovy-specific

    // Basic Threads
    permission java.lang.RuntimePermission "stopThread";
    permission java.lang.RuntimePermission "modifyThread";

    // Locale.setDefault
    permission java.util.PropertyPermission "user.language", "write";

    // Date timezone
    permission java.util.PropertyPermission "user.timezone", "write";

    // Standard properties
    permission java.util.PropertyPermission "java.version", "read";
    permission java.util.PropertyPermission "java.vendor", "read";
    permission java.util.PropertyPermission "java.vendor.url", "read";
    permission java.util.PropertyPermission "java.class.version", "read";
    permission java.util.PropertyPermission "os.name", "read";
    permission java.util.PropertyPermission "os.version", "read";
    permission java.util.PropertyPermission "os.arch", "read";
    permission java.util.PropertyPermission "line.separator", "read";

    permission java.util.PropertyPermission "java.specification.version", "read";
    permission java.util.PropertyPermission "java.specification.vendor", "read";
    permission java.util.PropertyPermission "java.specification.name", "read";

    permission java.util.PropertyPermission "java.vm.specification.version", "read";
    permission java.util.PropertyPermission "java.vm.specification.vendor", "read";
    permission java.util.PropertyPermission "java.vm.specification.name", "read";
    permission java.util.PropertyPermission "java.vm.version", "read";
    permission java.util.PropertyPermission "java.vm.vendor", "read";
    permission java.util.PropertyPermission "java.vm.name", "read";
};
